### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [549]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
csvfile = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(csvfile)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [550]:
#Determine number of players minus duplicates
num_of_players = len(purchase_df["SN"].unique())
num_of_players

576

In [551]:
#Creating dataframe for number of players
#Note to self: Capitalize D and F in dataframe or df will not print
total_players = pd.DataFrame([{"Total Players": num_of_players}])
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [552]:
#lists the numbers that come up once in the data set
unique_items = purchase_df["Item ID"].unique()
unique_items

array([108, 143,  92, 100, 131,  81, 169, 162,  21, 136,  95, 116,   4,
       165,  98,  40, 161,  82,  89,  57, 168,  24, 151, 132, 178,  71,
        96, 119,  37, 140, 179, 133,  44, 160,  53,  76,  73, 172,   7,
        72,   9, 181, 102, 170, 138, 110,  22,  15,  60, 176,  25,  84,
        80, 152, 105, 125,  56,  34,   6,  27,  29,  68, 124,  88,  20,
        50, 174,  12,  33, 129,  17,  59,  39, 164, 134, 109,  10,  54,
        99,  85, 139,  41, 150,  13, 117,  78,  87,   1,  62,  75,  58,
        74, 120, 145,   0,   2, 146, 158,   8, 175,  46, 148, 111,   3,
        65, 183,  30, 157, 123,   5, 144, 103, 135,  51, 154,  32,  77,
        11,  63,  69, 113, 153, 114, 149, 159, 137, 142,  66,  97, 163,
       107,  16,  42,  19,  83,  28,  94, 182,  70,  18, 166, 173, 167,
       155, 128, 156, 147,  35, 171,  52, 106,  38,  91, 118,  67,  45,
        49, 121,  79,  14,  43,  31,  64,  86,  93,  26, 122,  61,  48,
       112, 126, 115,  55, 127,  47, 130,  90, 177, 104])

In [553]:
#Counts the data set in the Item ID column 
total_unique = len(unique_items)
total_unique

179

In [554]:
#Adds up for the average of the Price column 
average_price = purchase_df["Price"].mean()
average_price

3.0509871794871795

In [555]:
#Adds up the total purchases(transactions) 
total_purchases = purchase_df["Price"].count()
total_purchases

780

In [556]:
#Adds up the total ammount in the Price Column
total_revenue = purchase_df["Price"].sum()
total_revenue

2379.77

In [557]:
#Creating data frame for analysis
purchase_analysis_df = pd.DataFrame([{"Number of Unique Items": total_unique, "Average Price": average_price,
                                     "Number of Purchases": total_purchases, "Total Revenue": total_revenue}])
purchase_analysis_df["Average Price"] = purchase_analysis_df["Average Price"].map("${:.2f}".format)
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].map("${:.2f}".format)
purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [558]:
# Grouping by gender & counting
gender = purchase_df[["SN", "Gender"]]
gender = gender.drop_duplicates()
gender.head()

              SN Gender
0        Lisim78   Male
1    Lisovynya38   Male
2     Ithergue48   Male
3  Chamassasya86   Male
4      Iskosia90   Male

In [559]:
#Split and count the genders
counts = gender["Gender"].value_counts()
counts.head()

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [560]:
#Add values to lists 
total_counts = [counts[0],counts[1],counts[2]]
total_counts

[484, 81, 11]

In [561]:
#Calculations to obatin percentages
percents = [round((counts[0]/num_of_players)*100,2),round((counts[1]/num_of_players)*100,2),
            round((counts[2]/num_of_players)*100,2)]
percents

[84.03, 14.06, 1.91]

In [562]:
# Creating DataFrame & setting index
gender_demo = pd.DataFrame({ "Total Count": total_counts, "Percentage of Players": percents})
gender_demo.index = (["Male", "Female", "Other / Non-Disclosed"])
gender_demo["Percentage of Players"] = gender_demo["Percentage of Players"].map("{:.2f}%".format)
gender_demo

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [563]:
#Calculate the number of purchases by gender per SN
gender_purchases = purchase_df.groupby(["Gender"])

purchase_count = gender_purchases["SN"].count()
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: SN, dtype: int64

In [564]:
#Purchase average between gender groups
purchase_average = gender_purchases["Price"].mean()
purchase_average

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [565]:
#Add up prices for each group 
purchase_total = gender_purchases["Price"].sum()
purchase_total

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [566]:
#Calculate averages between each group
avg_total_per = purchase_total / counts
avg_total_purchase = avg_total_per.round(decimals=2)
avg_total_purchase

Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [567]:
#Create DF and formats
purchase_analysis_gender = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": purchase_average,
                                        "Total Purchase Value": purchase_total, 
                                        "Avg Total Purchase per Person": avg_total_purchase})
purchase_analysis_gender["Average Purchase Price"] = purchase_analysis_gender["Average Purchase Price"].map("${:.2f}".format)
purchase_analysis_gender["Total Purchase Value"] = purchase_analysis_gender["Total Purchase Value"].map("${:.2f}".format)
purchase_analysis_gender["Avg Total Purchase per Person"] = purchase_analysis_gender["Avg Total Purchase per Person"].map("${:.2f}".format)
purchase_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [568]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#database for age demographics
gender["Age Range"]= pd.cut(purchase_df["Age"], age_bins, labels=group_names)

gender.head()

              SN Gender Age Range
0        Lisim78   Male     20-24
1    Lisovynya38   Male       40+
2     Ithergue48   Male     20-24
3  Chamassasya86   Male     20-24
4      Iskosia90   Male     20-24

In [569]:
#Count the number of ages within the age range column 
age_count = gender["Age Range"].value_counts()
age_count

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
<10       17
40+       12
Name: Age Range, dtype: int64

In [570]:
#Percent of players within the age ranges
age_percent = (age_count / num_of_players * 100).round(decimals = 2)
age_percent

20-24    44.79
15-19    18.58
25-29    13.37
30-34     9.03
35-39     5.38
10-14     3.82
<10       2.95
40+       2.08
Name: Age Range, dtype: float64

In [571]:
#Create DF, format, and reindex to created bins
age_demo_df = pd.DataFrame({"Total Count": age_count, "Percentage of Players": age_percent})
age_demo_df["Percentage of Players"] = age_demo_df["Percentage of Players"].map("{:.2f}%".format)
age_demo_df = age_demo_df.reindex(["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])
age_demo_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [572]:
#Calculate the number of purchases in age range
purchase_df["Age Ranges"] = pd.cut(purchase_df["Age"], age_bins, labels = group_names)
age_purchase = purchase_df.groupby("Age Ranges")

age_purchase_count = age_purchase["SN"].count()
age_purchase_count

Age Ranges
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: SN, dtype: int64

In [573]:
#Calculate the total purchases within age range
total_age_purchase = age_purchase["Price"].sum()
total_age_purchase

Age Ranges
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [574]:
#Calculate the average purchase price within age range
age_average_price = (total_age_purchase / age_purchase_count).round(decimals = 2)
age_average_price

Age Ranges
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.94
dtype: float64

In [575]:
#Calculate the average total purchase per person
age_avg_total_person = (total_age_purchase/ age_count).round(decimals = 2)
age_avg_total_person

<10      4.54
10-14    3.76
15-19    3.86
20-24    4.32
25-29    3.81
30-34    4.12
35-39    4.76
40+      3.19
dtype: float64

In [576]:
#Create DF and format
purchase_analysis = pd.DataFrame({"Purchase Count": age_purchase_count, "Average Purchase Price": age_average_price,
                                 "Total Purchase Value": total_age_purchase, "Avg Total Purchase per Person":
                                 age_avg_total_person})
purchase_analysis["Average Purchase Price"] = purchase_analysis["Average Purchase Price"].map("${:.2f}".format)
purchase_analysis["Total Purchase Value"] = purchase_analysis["Total Purchase Value"].map("${:.2f}".format)
purchase_analysis["Avg Total Purchase per Person"] = purchase_analysis["Avg Total Purchase per Person"].map("${:.2f}".format)
purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [577]:
#Group by spenders
top_spenders = purchase_df['Item ID'].groupby(purchase_df['SN']).count()
top_spenders.head()

SN
Adairialis76    1
Adastirin33     1
Aeda94          1
Aela59          1
Aelaria33       1
Name: Item ID, dtype: int64

In [578]:
#Group by spenders and average purchase
top_spender_avg_price = purchase_df["Price"].groupby(purchase_df["SN"]).mean()
top_spender_avg_price.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [579]:
#Group by spenders and total purchases
total_purchase_value = purchase_df["Price"].groupby(purchase_df["SN"]).sum()
total_purchase_value.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [580]:
#Create DF, format, and sort by total purchase value
top_spenders_analysis = pd.DataFrame({"Purchase Count": top_spenders, 
                                      "Average Purchase Price": top_spender_avg_price,
                                      "Total Purchase Value": total_purchase_value})

top_spenders_analysis.sort_values(by=["Total Purchase Value"], ascending=False, inplace=True)
top_spenders_analysis["Average Purchase Price"] = top_spenders_analysis["Average Purchase Price"].map("${:.2f}".format)
top_spenders_analysis["Total Purchase Value"] = top_spenders_analysis["Total Purchase Value"].map("${:.2f}".format)

top_spenders_analysis.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [581]:
#Call on Item ID, Item Name, and Price columns
item_data = purchase_df.loc[:,["Item ID", "Item Name", "Price"]]
item_data

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778       92                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [582]:
#Count the number of purchases with in the group of Item ID and Item name
popular_purchase_count = item_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
popular_purchase_count.head()

Item ID  Item Name
0        Splinter              4
1        Crucifer              4
2        Verdict               6
3        Phantomlight          6
4        Bloodlord's Fetish    5
Name: Purchase Count, dtype: int64

In [583]:
#Calculate the average price with in the group of Item ID and Item Name
popular_item_price = (item_data.groupby(["Item ID", "Item Name"]).mean()["Price"]).round(decimals=2)
popular_item_price

Item ID  Item Name
0        Splinter                                        1.28
1        Crucifer                                        2.94
2        Verdict                                         2.48
3        Phantomlight                                    2.49
4        Bloodlord's Fetish                              1.70
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.23
179      Wolf, Promise of the Moonwalker                 4.48
181      Reaper's Toll                                   1.66
182      Toothpick                                       4.03
183      Dragon's Greatsword                             1.09
Name: Price, Length: 179, dtype: float64

In [584]:
#Calculate the total purchase value within the group of Item ID and Item Name
popular_total_purchase = item_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
popular_total_purchase.head()

Item ID  Item Name
0        Splinter               5.12
1        Crucifer              11.77
2        Verdict               14.88
3        Phantomlight          14.94
4        Bloodlord's Fetish     8.50
Name: Total Purchase Value, dtype: float64

In [585]:
#Create DF, format, and sort by Purchase Count
popular_items = pd.DataFrame({"Purchase Count": popular_purchase_count, "Item Price": popular_item_price,
                             "Total Purchase Value": popular_total_purchase})

popular_items.sort_values(by=["Purchase Count"], ascending=False, inplace=True)
popular_items["Item Price"] = popular_items["Item Price"].map("${:.2f}".format)
popular_items["Total Purchase Value"] = popular_items["Total Purchase Value"].map("${:.2f}".format)
popular_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [586]:
#Sort previous DF by Total Purchase Value
profitable_items = pd.DataFrame({"Purchase Count": popular_purchase_count, "Item Price": popular_item_price,
                             "Total Purchase Value": popular_total_purchase})

profitable_items.sort_values(by=["Total Purchase Value"], ascending=False, inplace=True)
profitable_items["Item Price"] = profitable_items["Item Price"].map("${:.2f}".format)
profitable_items["Total Purchase Value"] = profitable_items["Total Purchase Value"].map("${:.2f}".format)
profitable_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80